<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index">Lab 2</a>
    </div>
    <ul class="nav navbar-nav">
       <li><a href="index">Home</a></li>
       <li><a href="maitra">Maitra</a></li>
      <li><a href="vijay">Vijay</a></li>
      <li><a href="niranjana">Niranjana</a></li>
      <li><a href="karm">Karm</a></li>
    </ul>
  </div>
</nav>
