<h2 style="background-color: blue; color: white">Karm Patel</h2>
<h3>About</h3>
<h4>
    <ul style="background-color: aquamarine;">
        <li>Student at Eklavya School.</li>
        <li>Lives in Ahmedabad, Gujarat.</li>
        <li>Enthusiastic Cricket Player.</li>
    </ul>
</h4>