<h2 style="background-color: blue; color: white">Maitra Patel</h2>
<h3>About</h3>
<h4>
    <ul style="background-color: aquamarine;">
        <li>Student at Georgian College.</li>
        <li>Lives in Barrie, Ontario.</li>
        <li>Working as a part-time employee.</li>
    </ul>
</h4>