<h2>Maitra Patel</h2>
<h3>About</h3>
<h4>
    <ul>
        <li>Student at Georgian College.</li>
        <li>Lives in Barrie, Ontario.</li>
        <li>Working as a part-time employee.</li>
    </ul>
</h4>