<h2 style="background-color: blue; color: white">Niranjana Patel</h2>
<h3>About</h3>
<h4>
    <ul style="background-color: aquamarine;">
        <li>Studied at HK Arts College</li>
        <li>Lives in Ahmedabad, Gujarat</li>
    </ul>
</h4>