<h2 style="background-color: blue; color: white">Vijaykumar Patel</h2>
<h3>About</h3>
<h4>
    <ul style="background-color: aquamarine;">
        <li>Studied at MRS College.</li>
        <li>Lives in Ahmedabad, Gujarat.</li>
        <li>An Entrepreneur running business related to Travel Agency, Borewell Drilling Company, and SS products Manufacturer.</li>
    </ul>
</h4>